<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<title></title>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div class="notify">
    <!--/*@thymesVar id="message" type=""*/-->
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/blog/edit}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Id</label>
        </div>
        <div>
            <input type="text" readonly th:field="*{id}"/>
        </div>
        <div>
            <label>Title</label>
        </div>
        <div>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
        </div>
        <div>
            <input type="text" th:field="*{content}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>