<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <title th:replace="/layout::title"></title>
</head>
<body>
<h3>Product</h3>
<p>
    <a th:href="@{/product/create}" style="text-decoration: none">add new product</a>
</p>

<!--/*@thymesVar id="product" type=""*/-->
<form action="#" th:action="@{/product/search}" method="get">
    <input type="text" name="search" placeholder="input product name">
    <button type="submit">search</button>
</form>

<div>
    <!--/*@thymesVar id="message" type=""*/-->
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table border="1px">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit param</th>
        <th>Edit path variable</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,rowstat : ${productList}" >
        <td th:text="${product.id}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getProducer()}"></td>
        <!--        request param-->
        <td><a th:href="@{/product/edit_param/(id = ${product.id})}">Edit</a></td>
        <!--         path variable-->
        <td ><a th:href="@{/product/{id}/edit(id=${product.getId()})}">Edit</a></td>
        <td ><a th:href="@{/product/{id}/delete(id=${product.getId()})}">Delete</a></td>
        <td ><a th:href="@{/product/{id}/view(id=${product.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/layout::footer"></footer>
</body>
</html>