* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*bao tất cả lại các thuộc tính marging,padding ko làm ảnh hưởng bố cục*/
}

body {

    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    font-family: SansSerif;

}

.menu-bar {
    background: green;
    text-align: center;
}

.menu-bar ul {
    list-style: none;
    /*làm mất dấu chấm tròn phía trước thẻ li*/
    display: inline-flex;
    /* cho hiển thị trên 1 dòng*/
    text-align: center;
    color: white;
}

.menu-bar ul li {
    width: 150px;
    margin: 1px;
    padding: 5px;
    background: green;
}

.menu-bar ul li ul li {
    width: 150px;
    margin: 1px;
    padding: 5px;
    background: green;
}

.menu-bar ul li:hover {
    background: red;
    border-radius: 3px;
}

.submenu-1{
    display: none;
}

.submenu-2 {
    display: none;
}

.menu-bar ul li:hover .submenu-1 {
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -2px;

}

.menu-bar ul li:hover .submenu-2 {
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -2px;

}

.menu-bar ul li:hover .submenu-1 ul{
   display: block;
}

.menu-bar ul li:hover .submenu-2 ul{
    display: block;
}


