*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

[class*=col-] {
    float: left;
    padding: 5px;
}


.row::after {
    clear: both;
    display: block;
    content: "";
}
.header {
    background: cornflowerblue;
    position: fixed;
    float: left;
}

.icon-left-header {
    width: 5%;
    height: 5%;
    align-items: center;
}

.position {
    text-align: left;
}

.left-text {
    padding: 50px 5px 5px 10px;
    align-items: center;
}
.icon-middle-header {
    width: 20px;
    height: 20px;
    align-items: center;
    float: left;
}

.icon-middle {
    width: 40px;
    height: 40px;
    align-items: center;
    float: left;
}

.icon-star {
    width: 15px;
    height: 15px;
    align-items: center;
    margin: 1px;
    padding: 5px 0px 0px 5px ;
    float: left;
}

.span-middle {
    padding: 5px;
}
.icon-right-header {
    width: 20px;
    height: 20px;
    align-items: center;
    float: left;
    border-radius: 50px;

}

.icon-anh {
    width: 20px;
    height: 20px;
    align-items: center;
    float: left;
    border-radius: 50px;
}

.icon-anh-ban {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    align-items: center;
    float: left;
}

.icon-right-bottom {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    float: left;
}

.search-text {
    border-radius: 50px;
}
.body {
    background: #CDCDCD;
}

.icon-right-anh {
    border-radius: 25px;
    width: 25%;
    height: 25%;
}

.body-left-icon {
    margin: 5px;
    padding: 5px;
}

.body-right {
    margin: 5px;
    padding: 15px;
    position: relative;
}

.absolute {
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.body-right-text {
    padding: 10px 5px 5px 10px;
    align-items: center;
    float: left;
}

.body-icon-right {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin: 5px 15px 5px 120px;
    float: left;
}

.body-icon-right-search {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin: 5px 5px 5px 5px;
    float: left;
}

.body-middle {
    margin: 5px;
    padding: 5px;
}
.theh1 {
    margin: 5px;
    padding: 35px 0px 5px 2px;
}

.icon {
    width: 25px;
    height: 20px;
    align-items: center;
    padding-right: 5px;
    float: left;
}

@media only screen and (max-width: 786px){
    [class*= col-] {
        width: 100%;
    }
}

