<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head ></head>
<title></title>
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to product list
    </a>
</p>
<div class="notify">
    <!--/*@thymesVar id="message" type=""*/-->
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/blog/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Id</label>

        </div>
        <div>
            <input type="hidden" th:field="${blog.id}"/>
        </div>

        <div>
            <label>Title</label>
        </div>
        <div>

            <input type="text" th:field="${blog.title}"/>
        </div>

        <div>
            <label>Content</label>
        </div>
        <div>

            <input type="text" th:field="${blog.content}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>